<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.wang1.frp.mapper.HostMapper">
    <insert id="upsert" useGeneratedKeys="true" keyProperty="ip">
        INSERT OR REPLACE INTO `HOST` (ip, PORT, flag, expiry, last_access_time, note, created_by, created_time, updated_by, updated_time)
               VALUES (#{host.ip}, #{host.port}, #{host.flag}, #{host.expiry}, #{host.lastAccessTime},#{host.note}, #{host.createdBy}, #{host.createdTime}, #{host.updatedBy}, #{host.updatedTime});
    </insert>
</mapper>
